# torch==2.2.0
# torchvision==0.17.0
# torchaudio==2.2.0
torch-ema
ninja
trimesh
opencv-python
tensorboardX
numpy>=1.24.0
pandas
tqdm
matplotlib
PyMCubes
rich
pysdf
dearpygui
packaging
scipy
lpips
imageio
torchmetrics
augly
